footer{
    display: flex;
    background-color: $black;
    padding: 40px;
  
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        
    }
  
    .ft-img{
      width: 70%;
      justify-content: space-evenly;
  
      img{
        opacity: 0.7;
        cursor: pointer;
  
        &:last-of-type{
          width: 21px;
        }
        &:hover{
          opacity: 1;
          transform: scale(1.2);
        }
      }
  
    }
  
    .ft-text{
      color: white;
      margin-left: 30px;
      opacity: 0.6;
      cursor: pointer;
      &:hover{
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }
  