#pricing{
    background: $blue;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 0 100px;

    .swiper{
      width: 100%;
      height: 100%;
      height: 650px !important;
      
    }
    .swiper-slide{
      gap: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  
     background: $blue;
     display: flex;
      align-items: center;
      justify-content: center;
  
    }
    .swiper-wrapper{
      display: flex;
      align-items: center;
      
    }
    .swiper-button-prev,
    .swiper-button-next{
    display: none;
  }

  
  .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: transparent;
    border: 2px solid $green;
    transition: 0.3s;
  }
  .swiper-pagination-bullet-active {
    background: $green;
    transform: scale(1.1);
  }

     
    .pricing-headeris {
     display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-top: 100px;
            h2 {
              color: $white;
              font-size: 30px;
              font-weight: 500;
            }
            .greendiv {
              width: 65px;
              border: 1px solid $green;
              margin: 25px 0;
            }
            p{
              color: $white;
              font-size: 0.8rem;
            }
        
    }
    .kaina{
      display: flex;
      align-items: center;
      gap: 35px;
    }
    .plan {
      max-width: 420px;
      min-width: 280px;
      margin: 70px auto 100px;
      border-radius: 5px;
      overflow: hidden;
      transition: 0.3s;
      gap: 10px;
      &:hover{
        transform: scale(1.1);
      }
  
      
      .plan-header {
        background: $darkGrey;
        color: $white;
        padding: 15px 0 20px 0;
        h3 {
          font-size: 20px;
          text-align: center;
          font-weight: normal;
        }
        .price {
          font-size: 90px;
          margin: 15px 0;
          font-weight: normal;
          text-align: center;
          span {
            font-size: 36px;
            margin-right: 5px;
          }
        }
        p {
          color: $white;
          opacity: 0.5;
          font-size: 15px;
          text-align: center;
        }
      }
  
      .plan-green-line {
        background: $green;
        border: 5px solid $green;
        color: $white;
        line-height: 30px;
        text-align: center;
      }
      ul {
        text-align: center;
        
        li {
          background: $white;
          color: $grey;
          font-size: 13px;
          padding: 10px 30px;
        
          
        }
      }
    }
  }

  @media(max-width:768px){
    #pricing{
      padding: 0;
      .plan{
        padding-bottom: 20px;
      }
      .pricing-headeris{
        p{
          margin-bottom: 30px;
          
        }
        .greendiv{
          width: 70%;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next{
      display: block !important;
      color: $green;
  }
  
  
  
  
  
  
  }