#tabs{
  background: url(../images/tabs.png);
  background-position: bottom;
  @include bg-img-prop;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;

  &::before {
    @include before-content;
    opacity: 0.42;
    background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
  }

  .tabsbutton {
    @include flex-col;
    gap: 25px;
    z-index: 1;
    width: 20%;

    button {
      width: 100px;
      height: 100px;
      background: #A37169;
      color: white;
      border: none;
      margin-left: 80px;
      transition: 0.5s;
      box-shadow: $b-sh;
      cursor: url('/app/images/description-cursor-icon-with-shadow-32.png'), auto;

      span {
        display: inline-block;
        transform: rotate(-45deg);
        font-weight: 500;
        opacity: 0.6;
      }

      &:hover {
        background: #E27866;
        transform: scale(1.1);
      }

      &.active {
        background-color: #E27866;
        transform: scale(1.1);
        span{
          opacity: 1;
        }
      }
    }
  }

  .tabutextas {
    margin-top: 60px;
    margin-left: 40px;
  }

  .city {
    width: 100%;
    display: flex;
    z-index: 1;
  }

  .container {
    @include flex-col-jc-ce;
    z-index: 1;
    gap: 20px;
    margin-right: 75px;
    margin-top: 80px;
    position: relative;
    display: inline-block;
    

    .image-wrapper {
      position: relative;
      margin-right: 10px;

      img {
        display: block;
        width: 90%;
        height: auto;
        
        
        
        
      }
    }

    .small-image-wrapper {
      position: relative;
    }

    .big-image-wrapper {
      position: relative;
    }

    .pirma {
      display: flex;
      gap: 8px;
    }
  }

  .overlay {
    position: absolute;
    top: -10px;
    left: -1px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 95%;
    height: 89%;
    visibility: hidden;
    background-color: #e27866c4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0s, opacity 0.5s linear;
    cursor: url('/app/images/description-cursor-icon-with-shadow-32.png'), auto;
  }

  .overlay p {
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    opacity: 0.9;
  }

  .small-image-wrapper:hover .overlay,
  .big-image-wrapper:hover .overlay {
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
  }

  h3 {
    color: white;
    font-size: 1.8em;
    font-weight: 600;
    width: 80%;
    padding-top: -30px;
  }

  p {
    color: white;
    font-size: 0.8em;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 75%;
    opacity: 0.8;
  }
}

@media (max-width: 768px){
  #tabs{
    flex-direction: column;

    .city{
      flex-direction: column;
      width: 100%;
      margin-left: -20px;
      h3{
        font-size: 1.2em;
        width: 90%;
      }
      p{
        margin-bottom: -20px;
        width: 90%;
      }
    }

    .container{
      width: 80% !important;
      margin-left: 20px;
      margin-top: 60px;
      margin-bottom: -40px;
      .small-image-wrapper{
        width: 69%;
        width: 182px ;
        height: 190px;
        
      }
      .big-image-wrapper{
        width: 381px;
        height: 200px;
        
      }
      .overlay{
        p{
          text-align: center ;
          align-items: center ;
          justify-content: center ;

        }
        
      }
    }
    

    .tabsbutton{
      flex-direction: row;
      width: 100% !important;
      gap: 10px;
      margin-top: -50px;
      
      
      

      button{
        margin-left: 22px;
        width: 90px;
        height: 90px;

        
        
        
      }
    }
  }
}