

$white: #ffffff;
$black: #000000;
$blue: #6696e2;
$blackGrey: #212121;
$brown: #a37169;
$darkGrey: #333333;
$green: #41d395;
$grey: #86878b;
$lblack: #1c1c1c;
$lightGrey: #d8d8d8;
$orange: #e27866;


$b-sh: 0 10px 10px #00000029;